{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr class="d-flex justify-content-center">
            <img class="" src="/image/maison/{{ annonce.imagePath }}" alt="Card image cap">
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ annonce.address }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ annonce.price }}€ / nuit</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ annonce.size }} m²</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Equipements</th>
                <td>{% for equipement in annonce.getEquipements()%}
                    {{ equipement.label}},
                {% endfor %}</td> 
            </tr>

            <tr>
                <th>Couchage</th>
                <td>{{ annonce.couchage }}</td>
            </tr>
        </tbody>
    </table>
    <p><a href="/reservation/new" class="btn btn-back text m-2">Reservez-moi</a></p>

    <a href="/" class="btn btn-back text m-2">Retour</a>

{% endblock %}
